@model List<MVC_StokTakipOtomasyonu.Models.Entity.Markalar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Markalar Ana Sayfası</h2>
<table class="table" >
    <thead style="background-color:aliceblue">
        <tr>
            <th>
                ID
            </th>
            <th>
                Kategori
            </th>
            <th>
                Marka
            </th>
            <th>
                Açıklama
            </th>
            <th>
                Sil
            </th>
            <th>
                Güncelle
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>
                    @item.ID
                </th>
                <td>@item.Kategoriler.Kategori</td>
                <td>@item.Marka</td>
                <td>@item.Aciklama</td>
                <td><a href="/Markalar/SilBilgiGetir/@item.ID" class="btn btn-danger">Sil</a></td>
                <td><a href="/Markalar/GuncelleBilgiGetir/@item.ID" class="btn btn-primary">Güncelle</a></td>
            </tr>
        }
    </tbody>
</table>
<a href="/Markalar/Ekle" class="btn btn-success"style="margin:10px 10px;">Marka Ekle</a>