@model MVC_StokTakipOtomasyonu.Models.Entity.Markalar
@{
    ViewBag.Title = "SilBilgiGetir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Markayı Silmek İstediğinizden Emin Misiniz?</h2>
<div class="container">
    <form action="/Markalar/Sil" method="post">
        @Html.HiddenFor(x => x.ID)
        <div class="form-group">
            <b>Kategori</b>
            @Html.DisplayFor(x => x.Kategoriler.Kategori, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <b>Marka</b>
            @Html.DisplayFor(x => x.Marka, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <b>Açıklama</b>
            @Html.DisplayFor(x => x.Aciklama, new { @class = "form-control" })
        </div>
        <div>
            <table>
                <tr>
                    <td><button class="btn btn-danger" style="margin-top:10px">Sil</button></td>
                    <td> <a href="/Markalar/Index/" class="btn btn-warning" style="margin-left:10px; margin-top:10px">İptal</a></td>
                </tr>
            </table>


        </div>
    </form>
</div>
