USE [master]
GO
/****** Object:  Database [DBCVENTITY]    Script Date: 21.09.2024 20:25:54 ******/
CREATE DATABASE [DBCVENTITY]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBCVENTITY', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DBCVENTITY.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBCVENTITY_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DBCVENTITY_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBCVENTITY].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBCVENTITY]
GO
/****** Object:  Table [dbo].[TBLADMIN]    Script Date: 21.09.2024 20:25:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLADMIN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KULLANICIADI] [varchar](50) NULL,
	[SIFRE] [varchar](50) NULL,
 CONSTRAINT [PK_TBLADMIN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLADRES]    Script Date: 21.09.2024 20:25:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLADRES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TELEFON] [varchar](20) NULL,
	[MAIL] [varchar](50) NULL,
	[ADRES] [varchar](200) NULL,
	[KONUM] [varchar](500) NULL,
 CONSTRAINT [PK_TBLADRES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLCALISMALARIM]    Script Date: 21.09.2024 20:25:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLCALISMALARIM](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ADRES] [varchar](200) NULL,
 CONSTRAINT [PK_TBLCALISMALARIM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLHAKKIMDA]    Script Date: 21.09.2024 20:25:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLHAKKIMDA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BILGILER] [varchar](500) NULL,
	[EGITIM] [varchar](500) NULL,
	[ISDENEYIMLERI] [varchar](1000) NULL,
 CONSTRAINT [PK_TBLHAKKIMDA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLILETISIM]    Script Date: 21.09.2024 20:25:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLILETISIM](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ADSOYAD] [varchar](40) NULL,
	[MAIL] [varchar](50) NULL,
	[MESAJ] [varchar](500) NULL,
	[KONU] [varchar](50) NULL,
 CONSTRAINT [PK_TBLILETISIM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLYETENEKLER]    Script Date: 21.09.2024 20:25:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLYETENEKLER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[YETENEK] [varchar](200) NULL,
	[DERECE] [tinyint] NULL,
 CONSTRAINT [PK_TBLYETENEKLER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBLADMIN] ON 

INSERT [dbo].[TBLADMIN] ([ID], [KULLANICIADI], [SIFRE]) VALUES (1, N'a', N'1')
INSERT [dbo].[TBLADMIN] ([ID], [KULLANICIADI], [SIFRE]) VALUES (2, N'bb', N'2')
SET IDENTITY_INSERT [dbo].[TBLADMIN] OFF
GO
SET IDENTITY_INSERT [dbo].[TBLHAKKIMDA] ON 

INSERT [dbo].[TBLHAKKIMDA] ([ID], [BILGILER], [EGITIM], [ISDENEYIMLERI]) VALUES (1, N'İbrahim Karadağ', N'Üniversite Eğitimimi Gaziosman Paşa Üniversitesi Reşadiye Meslek Yüksekokulu Bilgisayar Programcılı bölümünde tamamladım.', N'Arven İlaç')
SET IDENTITY_INSERT [dbo].[TBLHAKKIMDA] OFF
GO
SET IDENTITY_INSERT [dbo].[TBLILETISIM] ON 

INSERT [dbo].[TBLILETISIM] ([ID], [ADSOYAD], [MAIL], [MESAJ], [KONU]) VALUES (1, N'İbrahim KAradağ', N'ihkaradag@hotmail.com', N'Müsait bir zamanda iş görüşmesi için görüşebilir miyiz.', N'İş Teklifi')
INSERT [dbo].[TBLILETISIM] ([ID], [ADSOYAD], [MAIL], [MESAJ], [KONU]) VALUES (2, N'x', N'x', N'x', N'x')
SET IDENTITY_INSERT [dbo].[TBLILETISIM] OFF
GO
SET IDENTITY_INSERT [dbo].[TBLYETENEKLER] ON 

INSERT [dbo].[TBLYETENEKLER] ([ID], [YETENEK], [DERECE]) VALUES (1, N'Delphi', 70)
INSERT [dbo].[TBLYETENEKLER] ([ID], [YETENEK], [DERECE]) VALUES (2, N'SQL', 65)
INSERT [dbo].[TBLYETENEKLER] ([ID], [YETENEK], [DERECE]) VALUES (3, N'ASP.Net MVC', 60)
SET IDENTITY_INSERT [dbo].[TBLYETENEKLER] OFF
GO
USE [master]
GO
