USE [master]
GO
/****** Object:  Database [DbSinavOgrenci]    Script Date: 21.09.2024 20:05:00 ******/
CREATE DATABASE [DbSinavOgrenci]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbSinavOgrenci', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DbSinavOgrenci.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbSinavOgrenci_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DbSinavOgrenci_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbSinavOgrenci].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbSinavOgrenci]
GO
/****** Object:  Table [dbo].[TBLDERSLER]    Script Date: 21.09.2024 20:05:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLDERSLER](
	[DERSID] [int] IDENTITY(1,1) NOT NULL,
	[DERSAD] [varchar](50) NULL,
 CONSTRAINT [PK_TBLDERSLER] PRIMARY KEY CLUSTERED 
(
	[DERSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLKLUPLER]    Script Date: 21.09.2024 20:05:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLKLUPLER](
	[KLUPID] [int] IDENTITY(1,1) NOT NULL,
	[KLUPAD] [varchar](50) NULL,
 CONSTRAINT [PK_TBLKLUPLER] PRIMARY KEY CLUSTERED 
(
	[KLUPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLNOTLAR]    Script Date: 21.09.2024 20:05:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLNOTLAR](
	[NOTID] [int] IDENTITY(1,1) NOT NULL,
	[OGRID] [int] NULL,
	[DERSID] [int] NULL,
	[SINAV1] [smallint] NULL,
	[SINAV2] [smallint] NULL,
	[SINAV3] [smallint] NULL,
	[ORTALAMA] [decimal](6, 2) NULL,
	[DURUM] [bit] NULL,
 CONSTRAINT [PK_TBLNOTLAR] PRIMARY KEY CLUSTERED 
(
	[NOTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLOGRENCI]    Script Date: 21.09.2024 20:05:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLOGRENCI](
	[OGRID] [int] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](30) NULL,
	[SOYAD] [varchar](30) NULL,
	[FOTOGRAF] [varchar](100) NULL,
	[KLUPID] [int] NULL,
	[SEHIR] [varchar](50) NULL,
 CONSTRAINT [PK_TBLOGRENCI] PRIMARY KEY CLUSTERED 
(
	[OGRID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBLNOTLAR]  WITH CHECK ADD  CONSTRAINT [FK_TBLNOTLAR_TBLDERSLER] FOREIGN KEY([DERSID])
REFERENCES [dbo].[TBLDERSLER] ([DERSID])
GO
ALTER TABLE [dbo].[TBLNOTLAR] CHECK CONSTRAINT [FK_TBLNOTLAR_TBLDERSLER]
GO
ALTER TABLE [dbo].[TBLNOTLAR]  WITH CHECK ADD  CONSTRAINT [FK_TBLNOTLAR_TBLOGRENCI] FOREIGN KEY([OGRID])
REFERENCES [dbo].[TBLOGRENCI] ([OGRID])
GO
ALTER TABLE [dbo].[TBLNOTLAR] CHECK CONSTRAINT [FK_TBLNOTLAR_TBLOGRENCI]
GO
ALTER TABLE [dbo].[TBLOGRENCI]  WITH CHECK ADD  CONSTRAINT [FK_TBLOGRENCI_TBLKLUPLER] FOREIGN KEY([KLUPID])
REFERENCES [dbo].[TBLKLUPLER] ([KLUPID])
GO
ALTER TABLE [dbo].[TBLOGRENCI] CHECK CONSTRAINT [FK_TBLOGRENCI_TBLKLUPLER]
GO
/****** Object:  StoredProcedure [dbo].[NOTLISTESI]    Script Date: 21.09.2024 20:05:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[NOTLISTESI] 
	
AS
BEGIN
	SELECT NOTID ,AD+''+SOYAD AS AD_SOYAD, DERSAD,SINAV1,SINAV2,SINAV3,ORTALAMA,DURUM  FROM TBLNOTLAR 
	INNER JOIN TBLOGRENCI ON TBLOGRENCI.OGRID = TBLNOTLAR.OGRID
	INNER JOIN TBLDERSLER ON TBLDERSLER.DERSID = TBLNOTLAR.DERSID
END
GO
USE [master]
GO
