USE [master]
GO
/****** Object:  Database [MvcDbStok]    Script Date: 21.09.2024 19:46:09 ******/
CREATE DATABASE [MvcDbStok]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MvcDbStok', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MvcDbStok.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MvcDbStok_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MvcDbStok_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MvcDbStok].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MvcDbStok]
GO
/****** Object:  Table [dbo].[TBLKATEGORILER]    Script Date: 21.09.2024 19:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLKATEGORILER](
	[KATEGORIID] [int] IDENTITY(1,1) NOT NULL,
	[KATEGORIAD] [varchar](50) NULL,
 CONSTRAINT [PK_TBLKATEGORILER] PRIMARY KEY CLUSTERED 
(
	[KATEGORIID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLMUSTERILER]    Script Date: 21.09.2024 19:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLMUSTERILER](
	[MUSTERIID] [int] IDENTITY(1,1) NOT NULL,
	[MUSTERIAD] [varchar](50) NULL,
	[MUSTERISOYAD] [varchar](50) NULL,
 CONSTRAINT [PK_TBLMUSTERILER] PRIMARY KEY CLUSTERED 
(
	[MUSTERIID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLSATISLAR]    Script Date: 21.09.2024 19:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLSATISLAR](
	[SATISID] [int] IDENTITY(1,1) NOT NULL,
	[URUNID] [int] NULL,
	[MUSTERIID] [int] NULL,
	[ADET] [int] NULL,
	[FIYAT] [decimal](18, 2) NULL,
 CONSTRAINT [PK_TBLSATISLAR] PRIMARY KEY CLUSTERED 
(
	[SATISID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLURUNLER]    Script Date: 21.09.2024 19:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLURUNLER](
	[URUNID] [int] IDENTITY(1,1) NOT NULL,
	[URUNAD] [varchar](50) NULL,
	[MARKA] [varchar](50) NULL,
	[URUNKATEGORI] [int] NULL,
	[FİYAT] [decimal](18, 2) NOT NULL,
	[STOK] [int] NULL,
 CONSTRAINT [PK_TBLURUNLER] PRIMARY KEY CLUSTERED 
(
	[URUNID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBLKATEGORILER] ON 

INSERT [dbo].[TBLKATEGORILER] ([KATEGORIID], [KATEGORIAD]) VALUES (1, N'BEYAZ EŞYA')
INSERT [dbo].[TBLKATEGORILER] ([KATEGORIID], [KATEGORIAD]) VALUES (2, N'KÜÇÜK EV ALETLERİ')
INSERT [dbo].[TBLKATEGORILER] ([KATEGORIID], [KATEGORIAD]) VALUES (3, N'BİLGİSAYAR')
SET IDENTITY_INSERT [dbo].[TBLKATEGORILER] OFF
GO
SET IDENTITY_INSERT [dbo].[TBLMUSTERILER] ON 

INSERT [dbo].[TBLMUSTERILER] ([MUSTERIID], [MUSTERIAD], [MUSTERISOYAD]) VALUES (1, N'İBRAHİM', N'KARADAĞ')
INSERT [dbo].[TBLMUSTERILER] ([MUSTERIID], [MUSTERIAD], [MUSTERISOYAD]) VALUES (2, N'MURAT', N'NEVRUZ')
INSERT [dbo].[TBLMUSTERILER] ([MUSTERIID], [MUSTERIAD], [MUSTERISOYAD]) VALUES (4, N'ECRİN NUR', N'KARADAĞ')
SET IDENTITY_INSERT [dbo].[TBLMUSTERILER] OFF
GO
SET IDENTITY_INSERT [dbo].[TBLSATISLAR] ON 

INSERT [dbo].[TBLSATISLAR] ([SATISID], [URUNID], [MUSTERIID], [ADET], [FIYAT]) VALUES (2, 8, 4, 5, CAST(125.00 AS Decimal(18, 2)))
INSERT [dbo].[TBLSATISLAR] ([SATISID], [URUNID], [MUSTERIID], [ADET], [FIYAT]) VALUES (3, NULL, NULL, 1, CAST(1.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[TBLSATISLAR] OFF
GO
SET IDENTITY_INSERT [dbo].[TBLURUNLER] ON 

INSERT [dbo].[TBLURUNLER] ([URUNID], [URUNAD], [MARKA], [URUNKATEGORI], [FİYAT], [STOK]) VALUES (3, N'ÇAMAŞIR MAKİNESİ', N'ARÇELİK', 1, CAST(1235.00 AS Decimal(18, 2)), 15)
INSERT [dbo].[TBLURUNLER] ([URUNID], [URUNAD], [MARKA], [URUNKATEGORI], [FİYAT], [STOK]) VALUES (6, N'BULAŞIK MAKİNESİ', N'ARÇELİK', 1, CAST(850.00 AS Decimal(18, 2)), 10)
INSERT [dbo].[TBLURUNLER] ([URUNID], [URUNAD], [MARKA], [URUNKATEGORI], [FİYAT], [STOK]) VALUES (8, N'SU ISIICI', N'VESTEL', 2, CAST(25.00 AS Decimal(18, 2)), 50)
SET IDENTITY_INSERT [dbo].[TBLURUNLER] OFF
GO
ALTER TABLE [dbo].[TBLSATISLAR]  WITH CHECK ADD  CONSTRAINT [FK_TBLSATISLAR_TBLMUSTERILER] FOREIGN KEY([MUSTERIID])
REFERENCES [dbo].[TBLMUSTERILER] ([MUSTERIID])
GO
ALTER TABLE [dbo].[TBLSATISLAR] CHECK CONSTRAINT [FK_TBLSATISLAR_TBLMUSTERILER]
GO
ALTER TABLE [dbo].[TBLSATISLAR]  WITH CHECK ADD  CONSTRAINT [FK_TBLSATISLAR_TBLURUNLER] FOREIGN KEY([URUNID])
REFERENCES [dbo].[TBLURUNLER] ([URUNID])
GO
ALTER TABLE [dbo].[TBLSATISLAR] CHECK CONSTRAINT [FK_TBLSATISLAR_TBLURUNLER]
GO
ALTER TABLE [dbo].[TBLURUNLER]  WITH CHECK ADD  CONSTRAINT [FK_TBLURUNLER_TBLKATEGORILER] FOREIGN KEY([URUNKATEGORI])
REFERENCES [dbo].[TBLKATEGORILER] ([KATEGORIID])
GO
ALTER TABLE [dbo].[TBLURUNLER] CHECK CONSTRAINT [FK_TBLURUNLER_TBLKATEGORILER]
GO
USE [master]
GO
